
/*------- GLOBAL --------*/
h1{
    font-family:'adobe caslon pro';
    font-size: 3em;
}

h3{
    font-family:'adobe caslon pro';
    font-size: 2em;
}

h4{
    font-family:'stratos';
    
}
p{
    font-family:'stratos';
    font-size: 1.3em;
}
/*----------------------------*/

/*--- Extra Padding/Margins ---*/
.mt-more{
    margin-top: 3em;
    padding-top:3em;
}
.p-more{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2.5em;
}
/*----------------------------*/


/*-------- Front Page ---------*/
.update-section-style{
    font-size: .8em !important;
}

/*------------------------------*/


/*--------- NAV BAR -----------*/
.nav-link-color {
    color:white !important;
    font-family: 'stratos';
    font-size: 1.2em;

}

.btn-primary{
    background-color: #0B4D9C !important;
}

.nav-alt-link-color{
    color:black !important;
    font-family: 'stratos';
    font-size: 1.2em;
}

.nav-bgcolor{
    background-color:white;
}

/*--------------------------*/


/*---------HERO IMAGE--------*/
.index-bg-img{
width:100%;
}

.centered-text-over-image {
    position: absolute;
    top: 18%;
    left: 10%;
    color:white;
}

/*--------------------------*/

/*------ About Page ---------*/
.srchimg-resize{
    width: 100%;
    
}

.accordian-cardHeadColor{
    background-color: white !important;
}
.accordian-cardBodyColor{
    background-color:#0B4D9C !important;
    color: white;
}
/*--------------------------*/


/*--------FOOTER-----------*/

footer{
    background-color:#0B4D9C;
    height: 250px;
    width:100%
}

footer i{
    color:white;
}

footer p{
    color:white;
    text-align: center;
    font-family: 'adobe caslon pro';
    
}
/*--------------------------*/





@media (max-width: 991.98px) {
    .noimagemobile {
        display: none !important;
    }

    .position-hero-text{
        font-size:3em;
        text-align: center;

    }
    .centered-text-over-image {
        position: absolute;
        top: 5%;
        left: 18%;
        color:white;
    }

    .nav-color-menubg{
        background-color: #0B4D9C !important;
        /* width: 300px; */
       
    }
}

@media (max-width: 733.98px) {
    .position-hero-text{
        font-size:2em;
        text-align: center;

    }
    /* .centered-text-over-image {
        position: absolute;
        top: 5%;
        left: 18%;
        color:white;
    } */
}